.App {
  text-align: center;
  padding-top: 100px;
}

.box {
  border: 2px black solid;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.box-wrapper {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
}
